.icon-lab{
	background:url('./img/icons/lab.png') no-repeat center center;
}
.icon-rad{
	background:url('./img/icons/rad.png') no-repeat center center;
}
.icon-farmasi{
	background:url('./img/icons/farmasi.png') no-repeat center center;
}
.icon-diagnosa{
	background:url('./img/icons/diagnosa.png') no-repeat center center;
}
.icon-trash{
	background:url('./img/icons/trash.png') no-repeat center center;
}
.icon-enter{
	background:url('./img/icons/enter.png') no-repeat center center;
}
.icon-bpjs{
	background:url('./img/icons/bpjs.png') no-repeat center center;
}
.icon-checkout{
	background:url('./img/icons/checkout.png') no-repeat center center;
}

/* ============================================================================= */

.icon-blank{
	background:url('./img/icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('./img/icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('./img/icons/pencil.png') no-repeat center center;
}
.icon-clear{
	background:url('./img/icons/clear.png') no-repeat center center;
}
.icon-remove{
	background:url('./img/icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('./img/icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('./img/icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('./img/icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('./img/icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('./img/icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('./img/icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('./img/icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('./img/icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('./img/icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('./img/icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('./img/icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('./img/icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('./img/icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('./img/icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('./img/icons/filter.png') no-repeat center center;
}
.icon-man{
	background:url('./img/icons/man.png') no-repeat center center;
}
.icon-lock{
	background:url('./img/icons/lock.png') no-repeat center center;
}
.icon-more{
	background:url('./img/icons/more.png') no-repeat center center;
}


.icon-mini-add{
	background:url('./img/icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('./img/icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('./img/icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('./img/icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('./img/icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('./img/icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('./img/icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('./img/icons/large_chart.png') no-repeat center center;
}

