@import '~rc-easyui/dist/themes/default/easyui.css';
@import '~rc-easyui/dist/themes/icon.css';
@import '~rc-easyui/dist/themes/react.css';

@font-face {
	font-family: 'Gadugib';
	src: url('../assets/fonts/gadugib.ttf'); /* IE9 Compat Modes */
}

@font-face {
	font-family: 'Gadugi';
	src: url('../assets/fonts/gadugi.ttf'); /* IE9 Compat Modes */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Gadugi';
  background: rgba(192,192,192,0.1);
}
